* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    padding: 15px;
    font-weight: bold;
    font-size: 50px;
    margin: 15px;
    color: rgb(255, 77, 107);
}

.outer-box {
     display: flex;
     flex-direction: column;
     align-items: center;
     border: 5px solid rgb(248, 158, 173);
     border-radius: 20px;
     padding: 45px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    border: 2px solid gray;
    border-radius: 5px;;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.row {
    flex: 1;
}

.col {
    display: flex;
    flex: 1;
}

button {
    margin: 20px;
    padding: 5px;
}